csx_stats/.vscode/*
csx_stats/vendor/*
*.amxx
cstrike/addons/amxmodx/scripting/amxxpc.exe
cstrike/addons/amxmodx/scripting/amxxpc32.dll
cstrike/addons/amxmodx/scripting/compile.dat
cstrike/addons/amxmodx/scripting/compile.exe
cstrike/addons/amxmodx/scripting/include/amxconst.inc
cstrike/addons/amxmodx/scripting/include/amxmisc.inc
cstrike/addons/amxmodx/scripting/include/amxmodx_version.inc
cstrike/addons/amxmodx/scripting/include/amxmodx.inc
cstrike/addons/amxmodx/scripting/include/cellarray.inc
cstrike/addons/amxmodx/scripting/include/cellstack.inc
cstrike/addons/amxmodx/scripting/include/celltrie.inc
cstrike/addons/amxmodx/scripting/include/core.inc
cstrike/addons/amxmodx/scripting/include/csstats_const.inc
cstrike/addons/amxmodx/scripting/include/csstats.inc
cstrike/addons/amxmodx/scripting/include/cstrike_const.inc
cstrike/addons/amxmodx/scripting/include/cstrike.inc
cstrike/addons/amxmodx/scripting/include/csx.inc
cstrike/addons/amxmodx/scripting/include/cvars.inc
cstrike/addons/amxmodx/scripting/include/datapack.inc
cstrike/addons/amxmodx/scripting/include/dbi.inc
cstrike/addons/amxmodx/scripting/include/dodconst.inc
cstrike/addons/amxmodx/scripting/include/dodfun.inc
cstrike/addons/amxmodx/scripting/include/dodstats.inc
cstrike/addons/amxmodx/scripting/include/dodx.inc
cstrike/addons/amxmodx/scripting/include/engine_const.inc
cstrike/addons/amxmodx/scripting/include/engine_stocks.inc
cstrike/addons/amxmodx/scripting/include/engine.inc
cstrike/addons/amxmodx/scripting/include/esf_const.inc
cstrike/addons/amxmodx/scripting/include/esf.inc
cstrike/addons/amxmodx/scripting/include/fakemeta_const.inc
cstrike/addons/amxmodx/scripting/include/fakemeta_stocks.inc
cstrike/addons/amxmodx/scripting/include/fakemeta_util.inc
cstrike/addons/amxmodx/scripting/include/fakemeta.inc
cstrike/addons/amxmodx/scripting/include/file.inc
cstrike/addons/amxmodx/scripting/include/float.inc
cstrike/addons/amxmodx/scripting/include/fun.inc
cstrike/addons/amxmodx/scripting/include/gameconfig.inc
cstrike/addons/amxmodx/scripting/include/geoip.inc
cstrike/addons/amxmodx/scripting/include/ham_const.inc
cstrike/addons/amxmodx/scripting/include/hamsandwich.inc
cstrike/addons/amxmodx/scripting/include/hlsdk_const.inc
cstrike/addons/amxmodx/scripting/include/json.inc
cstrike/addons/amxmodx/scripting/include/lang.inc
cstrike/addons/amxmodx/scripting/include/message_const.inc
cstrike/addons/amxmodx/scripting/include/message_stocks.inc
cstrike/addons/amxmodx/scripting/include/messages.inc
cstrike/addons/amxmodx/scripting/include/newmenus.inc
cstrike/addons/amxmodx/scripting/include/ns_const.inc
cstrike/addons/amxmodx/scripting/include/ns.inc
cstrike/addons/amxmodx/scripting/include/nvault.inc
cstrike/addons/amxmodx/scripting/include/orpheu_advanced.inc
cstrike/addons/amxmodx/scripting/include/orpheu_const.inc
cstrike/addons/amxmodx/scripting/include/orpheu_memory.inc
cstrike/addons/amxmodx/scripting/include/orpheu_stocks.inc
cstrike/addons/amxmodx/scripting/include/orpheu.inc
cstrike/addons/amxmodx/scripting/include/regex.inc
cstrike/addons/amxmodx/scripting/include/sockets.inc
cstrike/addons/amxmodx/scripting/include/sorting.inc
cstrike/addons/amxmodx/scripting/include/sqlx.inc
cstrike/addons/amxmodx/scripting/include/string_const.inc
cstrike/addons/amxmodx/scripting/include/string_stocks.inc
cstrike/addons/amxmodx/scripting/include/string.inc
cstrike/addons/amxmodx/scripting/include/textparse_ini.inc
cstrike/addons/amxmodx/scripting/include/textparse_smc.inc
cstrike/addons/amxmodx/scripting/include/tfcconst.inc
cstrike/addons/amxmodx/scripting/include/tfcstats.inc
cstrike/addons/amxmodx/scripting/include/tfcx.inc
cstrike/addons/amxmodx/scripting/include/time.inc
cstrike/addons/amxmodx/scripting/include/tsconst.inc
cstrike/addons/amxmodx/scripting/include/tsfun.inc
cstrike/addons/amxmodx/scripting/include/tsstats.inc
cstrike/addons/amxmodx/scripting/include/tsx.inc
cstrike/addons/amxmodx/scripting/include/vault.inc
cstrike/addons/amxmodx/scripting/include/vector.inc
cstrike/addons/amxmodx/scripting/include/xs.inc
cstrike/addons/amxmodx/scripting/bio_antiblock.sma
cstrike/addons/amxmodx/scripting/bio_boatescape.sma
cstrike/addons/amxmodx/scripting/bio_radar.sma
cstrike/addons/amxmodx/scripting/bio_smokeflare.sma
cstrike/addons/amxmodx/scripting/biohazard.cfg
cstrike/addons/amxmodx/scripting/biohazard.sma
cstrike/addons/amxmodx/scripting/customflashlight.sma
cstrike/addons/amxmodx/scripting/spawn_editor.sma
cstrike/addons/amxmodx/scripting/include/basebuilder.inc
cstrike/addons/amxmodx/scripting/include/bulletdamage.inc
cstrike/addons/amxmodx/scripting/include/colorchat.inc
cstrike/addons/amxmodx/scripting/include/credits.inc
cstrike/addons/amxmodx/scripting/include/money_ul.inc
cstrike/addons/amxmodx/scripting/include/ns2amx.inc
cstrike/addons/amxmodx/scripting/include/profiler.inc
cstrike/addons/amxmodx/scripting/include/svn_version.inc
