.chart {
    position	: absolute;
    margin-top		: -8px;
    margin-bottom	: 0px;
    margin-left	    : 30px;
    text-align		: center;
}
.chart canvas {
    position		: relative;
    text-align		: center;
}
.percent {
    position	: absolute;
    line-height	: 90px;
    margin-left: 38px;
    z-index		: 2;
}
.percent:after {
    content		: '%';
    margin-left	: 0.1em;
    font-size	: .8em;
}
.angular {
    margin-top: 5px;
}
.angular .chart {
    margin-top: 0;
}
input {
    display			: block;
    margin			: auto;
    margin-bottom	: 3em;
}
/*
.btn {
    display			: block;
    width			: 200px;
    margin			: 0 auto;
    padding			: 10px 20px;
    background		: #cccccc;
    color			: #ffffff;
    text-transform	: uppercase;
    cursor			: pointer;
    font-size		: 0.8em;
    -moz-box-sizing	: border-box;
    box-sizing		: border-box;
}
.btn:hover {
    background		: #333333;
    color			: #ffffff;
}
*/